<div class="flex-nav">
    <div class="flex-items-nav">
        <p class="agregar">
            AGREGAR SOCIEDAD
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            <div class="card" style="width: 16rem;" *ngFor="let item of [1,1,1,1,1]">

                <div class="card-body">
                    <h5 class="card-title"> Nombre de la sociedad </h5>
                    <p class="card-text">ID: 5E465W4G65WG </p>
                    <p class="card-text"> Nombre del reprsentante </p>
                </div>
            </div>
        </div>

    </div>
</div>