<div class="row">
    <div class="col-md-6">

        <img src="..." class="card-img-top" alt="...">
    </div>
    <div class="col-md-5" style="align-content: center;">

        
        <div class="card" id="card2">
            <h2 class="center text-login"  >  INICIAR SESION </h2>
            <div class="card-body">

                    <label for="nombre">  NOMBRE: </label>
                    <input type="text" name=""  class="form-control"  id="">



                        <label for="pass">  CONSTRASEÑA:  </label>
                    <input type="text" name=""  class="form-control"  id="">

                    <button class="btn btn-success"  >  INGRESAR   </button>

                </div>
            
        </div>
    </div>
</div>